.header_container {
    background-color: #212121;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}

.sidebar_setting_icon {
    width: 24px;
    cursor: pointer;
}

.sidebar_setting_icon:active {
    transform: scale(0.9);
}

.sidebar_search_icon {
    cursor: pointer;
}

.sidebar_search_icon:active {
    transform: scale(0.9);
}

.dropdownMenu {
    position: absolute;
    top: 60px;
    left: 5px;
    background-color: #212121;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 150px;
    border-radius: 20px;
}

.dropdownMenu ul {
    list-style-type: none;
    padding: 0;
}

.dropdownMenu li {
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
}

.dropdownMenu li:hover {
    background-color: #aaaaaa;
}
