.profile {
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 20px;
}

.icon-back {
    display: flex;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}

.icon-back:hover {
    background: #333333;
}

.profile-container {
    display: grid;
}

.profile-search {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
}

.icon-search {
    display: flex;
    align-items: center;
}
