.chat-list-container {
    box-sizing: border-box;
    height: 100vh;
    border-right: 1px solid black;
}

.header-list {
    padding: 0 10px 0 10px;
}

.header-container {
    background-color: #212121;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-list {
    border-top:1px solid black ;
    height: 70px;
    background-color:  #212121;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.chat-list:hover {
    background-color: #766ac8;
    border-radius: 15px;
}

.chat-list.active {
    background-color: #766ac8;
    border-radius: 15px;
}

.icon-profile {
    margin-right: 20px;
}

.chat-profile {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nickname {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.last-message {
    max-width: 200px;
    width: 200px;
    color: #aaaaaa;
}

.span-online {
    color: #aaaaaa;
}

.sidebar-message-time-container {
    display: flex;
    margin-bottom: 30px;
    font-size: 14px;
}

.sidebar-message-time {
    height: 20px;
    width: 35px;
    margin-right: 10px;
    color: #aaaaaa;
}
