@media (max-width: 768px) {
    .chat-list-container {
        width: 250px;
        max-width: 250px;
    }

    .message {
        max-width: 300px;
    }
    .form-input {
        max-width: 200px;
    }
    .input-container {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .message {
        max-width: 200px;
    }
    .nickname {
        width: 100px;
    }
    .form-input {
        max-width: 100px;
    }
    .input-container {
        width: 150px;
    }
}

.hidden {
    display: none;
}

.page-container {
    display: flex;
}

.chat-list-container {
    box-sizing: border-box;
    height: 100vh;

    border-right: 1px solid black;
}

.chat-container {
    width: 100%;
}

.chat-profile {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-list {
    padding: 0 10px 0 10px;
}

.chat-list-flex {
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
}

.chat-list {
    border-top:1px solid black ;
    height: 70px;
    background-color:  #212121;
    display: flex;


    align-items: center;
    padding: 0 10px 0 10px;
}

.chat-list:hover {
    background-color: #766ac8;
    border-radius: 15px;
}

.icon-profile {
    margin-right: 20px;
}

.last-message {
    max-width: 200px;
    width: 200px;
    color: #aaaaaa;
}

.sidebar-message-time-container {
    display: flex;
    margin-bottom: 30px;
    font-size: 14px;
}

.sidebar-message-time {
    height: 20px;
    width: 35px;
    margin-right: 10px;
    color: #aaaaaa;
}

.header-container {
    background-color: #212121;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.profile-search {
    display: flex;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
}

.icon-back {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: black;
}

.icon-back:hover {
    background: #333333;
}

.icon-search {
    display: flex;
    align-items: center;
}

.nickname {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.span-online {
    color: #aaaaaa;
}

.form {
    width: 100%;
    display: inline-block;
}

.message-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: auto;
    transition: height 0.3s ease;
}

.message {
    min-width: 50px;
    max-width: 450px;
    background-color: #766ac8;
    border-radius: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px 5px 5px 10px;
    margin-right: 20px;
}

.message-text {
    overflow-wrap: break-word;
}

.message-time {
    color: #bfb9e5;
    font-size: 10px;
    margin-left: 5px;
}

.message-send {
    color: #bfb9e5;
    font-size: 12px;
    margin-left: 5px;
}

.message-metadata {
    display: flex;
    justify-content: end;
}

input[type=submit] {
    visibility: collapse;
}

.input-container {
    display: flex;
    left: 50%;
    transform: translateX(-15%);
    position: fixed;
    bottom: 20px;
    align-items: flex-end;
    background-color: #333333;
    border-radius: 15px;
    height: auto;
    padding: 10px;
}

.emoji-icon {
    padding-right: 10px;
    padding-left: 10px;
}

.upload_icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-bottom: 4px;
}

.btn_send_msg {
    background-color: #766ac8;
    border: none;
    border-radius: 50%;
    padding: 1px 5px;
    margin-bottom: 1px;
}

.btn_send_msg:hover {
    cursor: pointer;
}

.images {
    padding: 5px;
}

.form-input {
    outline: none;
    width: 500px;
    background-color: #333333;
    color: white;
    height: 20px;
    border: 0 solid rgba(25, 25, 25, 0.32);
    resize: none;
    font-family: Helvetica, Arial, sans-serif;
    max-height: 250px;
}

.choose-chat {
    position: fixed;
    top: 50vh;
    right: 500px;
}

.add-chat {
    position: fixed;
    background-color: #888888;
    outline: none;
    border: none;
    border-radius: 50%;
    padding: 12px;
    bottom: 50px;
    left: 250px;
}

.add-chat:hover {
    background-color: #aaaaaa;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #333333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
